.main {
  background-image: url("./bg.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.wheel {
  display: grid;
  place-items: center;
  height: 100vh;
  max-height: 100vh;
}
